@inherits LayoutComponentBase

<div class="page">
   @*  <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        

        <article class="content" style="background-color:#f4f4f4">
            @Body
        </article>
    </main>
</div>

<RadzenComponents />
