<div class="d-flex justify-content-between fs-18px text-black" style="font-weight:600">
    <p>Subtotal</p>
    <p>$@SubTotalPrice.ToString("0.##")</p>
</div>
<div class="d-flex justify-content-between mt-3 fs-16px">
    <p>Service Charges</p>
    <p>+ $0.0</p>
</div>
<div class="d-flex justify-content-between fs-16px">
    <p>Tax</p>
    <p>+ $@SalesTax</p>
</div>
<div class="d-flex justify-content-between fs-16px">
    <p>Special discount</p>
    <p>- $0</p>
</div>
<hr />
<div class="d-flex justify-content-between fs-24px text-black" style="font-weight:600">
    <p>Total</p>
    <p>@TotalPrice</p>
</div>
